/* [project]/node_modules/@fontsource/dm-sans/index.css [app-client] (css, ) */
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/_next/static/media/dm-sans-latin-ext-400-normal.f465c8be.woff2") format("woff2"), url("/_next/static/media/dm-sans-latin-ext-400-normal.457084f3.woff") format("woff");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/_next/static/media/dm-sans-latin-400-normal.46cd5fa3.woff2") format("woff2"), url("/_next/static/media/dm-sans-latin-400-normal.68f6faf6.woff") format("woff");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* [project]/styles/components.css [app-client] (css, ) */
input {
  width: 100%;
  padding: .75rem;
  border: 1px solid var(--color-neutral-200);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--color-primary-900);
  background-color: var(--background-1);
  transition: border-color .3s, background-color .3s, color .3s;
}

.dark input {
  border-color: var(--color-neutral-400);
  background-color: var(--background-1);
  color: var(--color-base-100);
}

input:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 0 4px #ec489933;
}

.error-message {
  font-size: .875rem;
  color: var(--danger);
  margin-top: .5rem;
}

.button--primary {
  background-color: var(--primary-color);
  color: var(--background-1);
  padding: .75rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .3s;
  width: 100%;
}

.button--primary:hover {
  background-color: var(--color-primary-700);
}

.button--secondary {
  background-color: #0000;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: .75rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .3s, color .3s;
  width: 100%;
}

.button--secondary:hover {
  background-color: var(--primary-color);
  color: var(--background-1);
}

.button--disabled {
  background-color: var(--disabled-button-background);
  color: var(--disabled-button-text);
  padding: .75rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .3s, color .3s;
  width: 100%;
}

.checkbox {
  accent-color: var(--primary-color);
  margin-right: .5rem;
  width: 20px;
}

.link {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  transition: color .3s;
}

.link:hover {
  color: var(--color-primary-700);
  text-decoration: underline;
}

.help-text {
  font-size: .875rem;
  color: var(--color-neutral-600);
  text-align: center;
}

.module {
  font-size: 1rem;
}

.module-icon {
  height: 1.8rem;
}

.module-card-completed {
  background-color: var(--background-3);
  color: var(--color-primary-700);
}

.module-card-active {
  background-color: var(--primary-color);
  color: var(--color-base-100);
}

.module-card-locked {
  background-color: var(--background-3);
  color: var(--color-neutral-400);
}

.card-level {
  background-color: var(--background-2);
  padding: 30px;
  border-radius: 20px;
}

.alphabet-exercise {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.alphabet-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.letter-item {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.btn-play {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  background-color: var(--success);
  color: var(--background-1);
  cursor: pointer;
  transition: background-color .3s;
}

.btn-play:hover {
  filter: brightness(1.1);
}

.feedback-icon {
  font-size: 1.2rem;
}

.feedback-icon.correct {
  color: var(--success);
}

.feedback-icon.wrong {
  color: var(--danger);
}

.exercise-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sidebar-custom {
  background-color: var(--background-2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
}


/* [project]/styles/login.css [app-client] (css, ) */
.container-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container-input-group {
  position: relative;
  margin-bottom: 1rem;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .875rem;
  color: var(--color-primary-900);
}


/* [project]/styles/reset-form.css [app-client] (css, ) */
.reset-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--background-1);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px #0000001a;
  max-width: 400px;
  margin: 0 auto;
}

.reset-form__input-group {
  position: relative;
}

.reset-form__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}


/* [project]/styles/UserProgress.css [app-client] (css, ) */
.user-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.welcome h1 {
  color: var(--color-primary-900);
}

.welcome h2 {
  color: var(--primary-color);
}

.levels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
  width: 100%;
}

.level__icon-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-1);
  box-shadow: 0 4px 6px #0000001a;
  border: 4px solid var(--primary-color);
  transition: border-color .3s, box-shadow .3s;
}

.level__icon-container.active {
  border-color: var(--primary-color);
}

.level__icon-container.locked {
  border-color: var(--color-neutral-400);
  opacity: .5;
}

.level__line {
  height: 2px;
  flex-grow: 1;
  background-color: var(--color-neutral-400);
  transition: background-color .3s;
}

.level__line.active {
  background-color: var(--primary-color);
}

.level__line.locked {
  background-color: var(--color-neutral-400);
}

.level__line {
  height: 2px;
  flex-grow: 1;
  background-color: var(--color-neutral-400);
  transition: background-color .3s;
}

.level__line.active {
  background-color: var(--primary-color);
}

.level__line.locked {
  background-color: var(--color-neutral-400);
}

.level-title {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 900;
  line-height: 24.74px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-primary-900);
}

.level-subtitle {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 900;
  line-height: 24.74px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-neutral-600);
}


/* [project]/styles/themes.css [app-client] (css, ) */
:root {
  --color-base-100: #f0f4ff;
  --color-neutral-200: #c7cfe5;
  --color-neutral-400: #a9b8b5;
  --color-neutral-600: #5d6b80;
  --color-primary-700: #3f4f66;
  --color-primary-900: #2a3c54;
  --primary-color: #c34e9e;
  --background-1: #fff;
  --background-2: #f2f2f2;
  --background-3: #dedede;
  --success: #46e5a1;
  --warning: #e58f46;
  --danger: #e5465a;
  --info: #4680e5;
}

.dark {
  --color-base-100: #2a3c54;
  --color-neutral-200: #3f4f66;
  --color-neutral-400: #5d6b80;
  --color-neutral-600: #a9b8b5;
  --color-primary-700: #c7cfe5;
  --color-primary-900: #f0f4ff;
  --primary-color: #c34e9e;
  --background-1: #1e1e1e;
  --background-2: #2d2d2d;
  --background-3: #505050;
  --success: #46e5a1;
  --warning: #e58f46;
  --danger: #e5465a;
  --info: #4680e5;
}


/* [project]/styles/typography.css [app-client] (css, ) */
.p16 {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-primary-700);
}

.p14 {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-primary-600);
}

.p12 {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.62px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-primary-900);
}

.placeholder {
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.p10 {
  font-family: DM Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-primary-600);
}

.label {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
}

.button {
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: auto;
}

h2 {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 900;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-primary-900);
}

.h32 {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 900;
  line-height: 41.66px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-primary-900);
}

.h24 {
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: auto;
  color: var(--color-neutral-600);
}

.heading-level {
  font-family: DM Sans, sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 23.67px;
  letter-spacing: 0%;
  color: var(--color-primary-900);
}

.subtitle-level {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.67px;
  letter-spacing: 0%;
  color: var(--color-neutral-600);
}


/* [project]/styles/CertificateCard.module.css [app-client] (css, ) */
.CertificateCard-module__ko5nrG__card {
  position: relative;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 3px #0000001a;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-height: 500px;
  background-color: var(--background-1);
}

.CertificateCard-module__ko5nrG__unlocked {
  opacity: 1;
}

.CertificateCard-module__ko5nrG__locked {
  opacity: .5;
}

.CertificateCard-module__ko5nrG__iconStatus {
  position: absolute;
  top: 24px;
  right: 24px;
}

.CertificateCard-module__ko5nrG__titleLevel {
  font-size: 19px;
  font-weight: 900;
  line-height: 24px;
  font-family: DM Sans, sans-serif;
  margin-bottom: 4px;
}

.CertificateCard-module__ko5nrG__titleLevelUnlocked {
  color: var(--color-primary-900);
}

.CertificateCard-module__ko5nrG__titleLevelLocked {
  color: var(--color-neutral-600);
}

.CertificateCard-module__ko5nrG__subtitleLevel {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-family: DM Sans, sans-serif;
  margin-bottom: 16px;
}

.CertificateCard-module__ko5nrG__subtitleLevelUnlocked {
  color: var(--color-neutral-600);
}

.CertificateCard-module__ko5nrG__subtitleLevelLocked {
  color: var(--color-primary-700);
}

.CertificateCard-module__ko5nrG__descriptionTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  font-family: DM Sans, sans-serif;
}

.CertificateCard-module__ko5nrG__descriptionTitleUnlocked {
  color: var(--color-primary-900);
}

.CertificateCard-module__ko5nrG__descriptionTitleLocked {
  color: var(--color-neutral-400);
}

.CertificateCard-module__ko5nrG__descriptionText {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-family: DM Sans, sans-serif;
  margin-top: 8px;
}

.CertificateCard-module__ko5nrG__descriptionTextUnlocked {
  color: var(--color-primary-700);
}

.CertificateCard-module__ko5nrG__descriptionTextLocked {
  color: var(--color-neutral-400);
}

.CertificateCard-module__ko5nrG__imageContainer {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.CertificateCard-module__ko5nrG__image {
  object-fit: contain;
  border-radius: 8px;
}

.CertificateCard-module__ko5nrG__downloadButton {
  margin-top: 24px;
  padding: 8px 24px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  background-color: #0000;
  cursor: pointer;
  transition: background-color .3s, color .3s;
}

.CertificateCard-module__ko5nrG__downloadButton:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.CertificateCard-module__ko5nrG__socialContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}

.CertificateCard-module__ko5nrG__socialIcon {
  width: 20px;
  height: 20px;
  transition: transform .2s ease-in-out;
}

.CertificateCard-module__ko5nrG__socialIcon:hover {
  transform: scale(1.1);
}


/* [project]/styles/globals.css [app-client] (css) */
*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: DM Sans, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.visible {
  visibility: visible;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0;
}

.left-0 {
  left: 0;
}

.left-3 {
  left: .75rem;
}

.left-4 {
  left: 1rem;
}

.right-0 {
  right: 0;
}

.right-3 {
  right: .75rem;
}

.right-4 {
  right: 1rem;
}

.top-0 {
  top: 0;
}

.top-1\/2 {
  top: 50%;
}

.top-4 {
  top: 1rem;
}

.right-6 {
  right: 1.5rem;
}

.top-6 {
  top: 1.5rem;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-1 {
  margin-bottom: .25rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-video {
  aspect-ratio: 16 / 9;
}

.h-10 {
  height: 2.5rem;
}

.h-2 {
  height: .5rem;
}

.h-24 {
  height: 6rem;
}

.h-3 {
  height: .75rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.min-h-\[500px\] {
  min-height: 500px;
}

.w-1\/2 {
  width: 50%;
}

.w-10 {
  width: 2.5rem;
}

.w-20 {
  width: 5rem;
}

.w-24 {
  width: 6rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-64 {
  width: 16rem;
}

.w-8 {
  width: 2rem;
}

.w-full {
  width: 100%;
}

.max-w-3xl {
  max-width: 48rem;
}

.max-w-6xl {
  max-width: 72rem;
}

.max-w-full {
  max-width: 100%;
}

.max-w-lg {
  max-width: 32rem;
}

.max-w-md {
  max-width: 28rem;
}

.flex-1 {
  flex: 1;
}

.border-collapse {
  border-collapse: collapse;
}

.-translate-x-full {
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-10 {
  --tw-translate-x: 2.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.list-decimal {
  list-style-type: decimal;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: .5rem;
}

.gap-3 {
  gap: .75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.25rem * var(--tw-space-y-reverse));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.rounded {
  border-radius: .25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-md {
  border-radius: .375rem;
}

.rounded-xl {
  border-radius: .75rem;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-\[var\(--color-neutral-600\)\] {
  border-color: var(--color-neutral-600);
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.border-neutral-300 {
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212 / var(--tw-border-opacity, 1));
}

.border-\[var\(--primary-color\)\] {
  border-color: var(--primary-color);
}

.bg-\[var\(--background-1\)\] {
  background-color: var(--background-1);
}

.bg-\[var\(--background-2\)\] {
  background-color: var(--background-2);
}

.bg-background {
  background-color: var(--background);
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1));
}

.bg-primary {
  background-color: var(--primary);
}

.bg-purple-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(216 180 254 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-opacity-40 {
  --tw-bg-opacity: .4;
}

.bg-opacity-50 {
  --tw-bg-opacity: .5;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.p-1 {
  padding: .25rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-2 {
  padding: .5rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-8 {
  padding: 2rem;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-2 {
  padding-top: .5rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.text-\[var\(--color-neutral-600\)\] {
  color: var(--color-neutral-600);
}

.text-\[var\(--primary-color\)\] {
  color: var(--primary-color);
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1));
}

.text-foreground {
  color: var(--foreground);
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity, 1));
}

.text-green-600 {
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity, 1));
}

.text-neutral-500 {
  --tw-text-opacity: 1;
  color: rgb(115 115 115 / var(--tw-text-opacity, 1));
}

.text-neutral-600 {
  --tw-text-opacity: 1;
  color: rgb(82 82 82 / var(--tw-text-opacity, 1));
}

.text-neutral-700 {
  --tw-text-opacity: 1;
  color: rgb(64 64 64 / var(--tw-text-opacity, 1));
}

.text-neutral-900 {
  --tw-text-opacity: 1;
  color: rgb(23 23 23 / var(--tw-text-opacity, 1));
}

.text-pink-600 {
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity, 1));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-\[var\(--color-primary-700\)\] {
  color: var(--color-primary-700);
}

.text-\[var\(--color-primary-900\)\] {
  color: var(--color-primary-900);
}

.underline {
  text-decoration-line: underline;
}

.no-underline {
  text-decoration-line: none;
}

.opacity-60 {
  opacity: .6;
}

.opacity-100 {
  opacity: 1;
}

.opacity-50 {
  opacity: .5;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.duration-300 {
  transition-duration: .3s;
}

.duration-500 {
  transition-duration: .5s;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
}

body {
  background-color: var(--background);
  font-family: DM Sans, sans-serif;
  color: var(--foreground);
}

.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 80px;
  height: 40px;
  background-color: var(--gray-light);
  border-radius: 9999px;
  padding: 4px;
  cursor: pointer;
  transition: background-color .3s;
}

.theme-switcher.dark {
  background-color: var(--purple-light);
}

.theme-switcher .toggle-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px #0000001a;
  transition: transform .3s;
}

.theme-switcher .toggle-icon.light {
  transform: translateX(40px);
}

.theme-switcher .icon {
  width: 20px;
  height: 20px;
  transition: color .3s;
}

.theme-switcher.dark .icon-moon {
  color: var(--icon-active);
}

.theme-switcher .icon-sun {
  color: var(--icon-inactive);
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: var(--color-neutral-400);
  border-radius: 5px;
}

.progress-bar__fill {
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.resource-container {
  background-color: var(--background-1);
  border: 1px solid var(--color-neutral-200);
  border-radius: .5rem;
  padding: 1rem;
}

.resource-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.resource-title {
  font-weight: 600;
  color: var(--color-primary-700);
  font-size: 1rem;
  font-family: DM Sans, sans-serif;
}

.resource-link {
  color: var(--primary-color);
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
  font-family: DM Sans, sans-serif;
}

.resource-link:hover {
  text-decoration: underline;
}

.resource-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resource-item {
  display: flex;
  align-items: flex-start;
  gap: .75rem;
  margin-bottom: 1rem;
}

.resource-thumbnail {
  width: 64px;
  height: 48px;
  background-color: var(--background-3);
  border-radius: .375rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource-name {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-primary-900);
  line-height: 1;
  margin: 0;
  font-family: DM Sans, sans-serif;
}

.resource-description {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-neutral-600);
  line-height: 1;
  margin: .25rem 0 0;
  font-family: DM Sans, sans-serif;
}

.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:bg-\[var\(--primary-color\)\]:hover {
  background-color: var(--primary-color);
}

.hover\:text-gray-700:hover {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.hover\:text-pink-800:hover {
  --tw-text-opacity: 1;
  color: rgb(157 23 77 / var(--tw-text-opacity, 1));
}

.hover\:text-primary:hover {
  color: var(--primary);
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:opacity-80:hover {
  opacity: .8;
}

.focus\:outline-none:focus {
  outline: 2px solid #0000;
  outline-offset: 2px;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-indigo-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity, 1));
}

.dark\:border-neutral-700:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(64 64 64 / var(--tw-border-opacity, 1));
}

.dark\:bg-gray-800:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
}

.dark\:bg-gray-900:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
}

.dark\:bg-neutral-900:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity, 1));
}

@media (width >= 640px) {
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (width >= 768px) {
  .md\:static {
    position: static;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:pt-4 {
    padding-top: 1rem;
  }
}

@media (width >= 1024px) {
  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-1\/3 {
    width: 33.3333%;
  }

  .lg\:w-2\/3 {
    width: 66.6667%;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:p-6 {
    padding: 1.5rem;
  }
}

@media (width >= 1280px) {
  .xl\:p-8 {
    padding: 2rem;
  }
}


/*# sourceMappingURL=_d3f476._.css.map*/
